<!-- views/partials/footer.ejs -->
<footer class="bg-dark text-light mt-5 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>AAU Gym Management</h5>
                <p>Connecting 4Kilo and 6Kilo campus fitness centers</p>
            </div>
            <div class="col-md-6 text-md-end">
                <h5>Contact Us</h5>
                <p>Email: info@aaugym.edu.et<br>
                Phone: +251 11 1234567</p>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>&copy; <%= new Date().getFullYear() %> AAU Gym Management. All rights reserved.</p>
        </div>
    </div>
</footer>